@import '../../node_modules/scss-reset/_reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

$font-family: "Source Sans Pro", sans-serif;
$body: #1B2430;
$container: #51557E;
$text: #D6D5A8;
$clickable: #694d81;


body {
    display: grid;
    grid-template-rows: max-content 1fr min-content;
    font-family: $font-family;
    background-color: $body;
    color: $text;
}

header {
    margin: auto;
    font-size: 3rem;
    font-weight: 900;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: $container;
    box-shadow: #51557E 0px -1px 4px;

    img {
        width: 2rem;
    }

    img:hover {
        transform: scale(1.1) rotate(360deg);
        opacity: 0.8;
        transition: all 1s;
    }
}

button, input {
    background-color: $body;
    color: $text;
    border: #D6D5A8 1px solid;
}

#start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    #name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3rem;

        label {
            font-size: 1.15rem;
        }
    }


    input {
        font-weight: 700;
        width: 200px;
    }

    input, button {
        font-size: 1.2rem;
        text-align: center;
        border-radius: 1rem;
        padding: 0.5rem;
        border-width: 2px;
        box-shadow: #D6D5A8 0px 1px 2px;
    }

    .errorContainer {
        display: flex;
        gap: 1rem;
        align-items: center;

        margin-top: 0.5rem;
        font-weight: 600;
        color: #f2f2f2;

        img {
            width: 2rem;
        }
    }

    #start-button:hover, #start-button:focus {
        transform: scale(0.95);
        transition: transform 1s;
    }
}

#setup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    height: 100%;

    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
    .grid-container {
        h2 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        .grid {
            .row {
                display: flex;
                

                .cell {
                    flex-shrink: 0;
                    width: 28px;
                    height: 28px;
                    border: 1px solid white;
                }

                .hover-effect {
                    background-color: #f2f2f2;
                }

                .cell-error {
                    background-color: #c57b7bb8;
                }

                .ship {
                    background-color: #f2f2f2;
                }
            }
        }
    }

    .axis-container {
        display: flex;
        align-items: center;
        gap: 2rem;

        h2 {
            font-size: 1.3rem;
        }

        button {
            border-radius: 1rem;
            padding: 0.5rem;
        }
    }
}

